@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Protest+Guerrilla&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #111827;
    font-family: "Open Sans", sans-serif;
    max-width:100vw;
    overflow-x: hidden;
}
header{
    position: fixed;
    top: 0;
    width: 100vw;
}
.header{
    width: 100vw;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    max-width: 100vw;
    padding: 5px;
    display: flex;
    align-items: center;
    position: relative;
    cursor:default;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.heading{
    margin-left: 3px;
    color: #7e22ce;
}
.heading h1 {
    letter-spacing: 10px;
    font-family: "Protest Guerrilla";
  font-weight: 400;
  font-style: normal;
}
.owner {
    color: #7e22ce;
    margin-left: 5px;
    font-size: 10px;
}
a{
    text-decoration: none;
    color: black;
}
.navigation a {
    display: flex;
}
.navigation{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 5px;
    flex-grow: 1;
}
.navigation a:hover {
color: #7e22ce;
    text-decoration: underline;
    transition: color 0.3s ease-in-out;
}

.anchor-home{
    cursor:pointer;
    margin-left: 4px;
}
main{
    color: white;
    padding: 20px;
    margin-top: 62px;
}
main h1 {
    font-size: 32px;
}
.home {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.h{
    margin: 15px 0px 12px 5px;
}
.hh {
    margin: 30px 0 24px 5px;
}
.p {
    margin-left: 15px;
}
.pp {
    margin-left: 30px;
}
.ppp {
    margin-left: 45px;
}
.type-lists-details li {
    list-style-type:square;
}
/* sample */
.code {
    background-color: #272822;
    display: flex;
    flex-direction: column;
    padding:10px ;
    border-radius: 10px;
    font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
    line-height: 1.5;
}
.division{
    width: 100%;
    height: 1px;
    background-color: white;
    margin: 30px 0 30px 0;
}
.f{
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
.code li {
    list-style-position: inside;
}
.c{
    font-size: 14px;
    font-family: Consolas
    ;   
}
.flex {
    display: flex;
}
.inline {
    display: inline;
}
.li {
    list-style-position: inside;
}
.disc li{
list-style-type: disc;
list-style-position: inside;
}
code {
    font-size: 14px;
    font-family: Consolas
    ;
}
ol {
    list-style-position: inside;
}
.sh {
    margin-bottom: 0px;
}
@media only screen and (max-width: 768px) {
    .navigation{
      display: none;
    }
    .header{
        justify-content: center;
    }
    .owner{
        margin-left: auto;
    }
    .home {
        display: flex;
    }
    .navigation{
        display: none;
      }
      .header{
          justify-content: center;
      }
      .owner{
          margin-left: auto;
      }
      footer {
          font-size: 10px;
      }
      .links-footer{
          margin-right: 10px;
      }
      .links-footer img {
          height: 20px;
      }
      footer {
        flex-direction: column;
    }
    .copyright{
        border: none;
    }
    .name {
        border: none;
    }

  }
  .disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
  .active {
    color: #6b21a8;
}
  .parent-nxt {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .parent-nxt :hover {
    background-color: #6b21a8;
    transition: background-color 0.3s ease-in-out;
  }
  .spaceb {
    display: flex;
    justify-content: space-between;
  }
  .nxt {
  margin:35px 60px 35px 0;
  padding: 10px;
  background-color: #7e22ce;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  }
   h3 {
    font-size: 24px;
   }
   dt {
    font-weight: bold;
   }
   footer{
    background-color:#1f2937;
    width: 100%;
    padding: 10px;
    bottom: 0px;
    display: flex;
    align-items: center;
    color: white;
    
}
.name {
    border-right: 1px solid white;
padding: 8px;
}
.copyright{
margin-left: 10px;
color: #9ca3af;
border-right: 1px solid white;
padding: 9px;
}
.links-footer {
    text-align: right;
    flex-grow:1 ;
    margin-right: 15px;
}
.navigation a:hover {
    color: #7e22ce;
        text-decoration: underline;
        transition: color 0.3s ease-in-out;
    }
    
    .anchor-home{
        cursor:pointer;
        margin-left: 4px;
    }
    .navigation a {
        display: flex;
    }
    .github-link{
        border: 5px solid white;
        border-radius: 10px;
        background-color:white;
        margin: 0 10px 0 10px 0;
    }
    .nxt a {
        color: white;
      }
      .border-left {
        border-left: 1px solid grey;
      }
      .heading {
        border-right: 1px solid grey;
        padding-right: 5px;
      }
      .border-bottom :hover {
        border-bottom: 1px solid #7e22ce;
      }
      .table-border,tr,th,td{
        border: 1px solid whitesmoke;
      }
      .table-border-collapse{
        border-collapse: collapse;
        border: 1px solid white;
        text-align: center;
      }